{% extends "base.html" %}

{% block head_title %} {{title}} {% endblock %}
{% block another_content %} 
    <!-- <h1>Contact US</h1> -->
    
        
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col col-lg-6">
                    <h1>{{title}}</h1>
                    <form method='POST' action='.'> {% csrf_token %}
                        {{form.as_p}}
                        <button class="btn btn-secondary active" type="submit">Send</button>
                    </form>
                </div>
            </div>
        </div> 
{% endblock %}