{% extends "base.html" %}
{% block content %}
	<!--home sec-->
<section id="home-section" class="hero">
		  <div class="home-slider  owl-carousel">
	      <div class="slider-item ">
	      	<div class="overlay"></div>
	        <div class="container">
	          <div class="row d-md-flex no-gutters slider-text align-items-end justify-content-end" data-scrollax-parent="true">
	          	<div class="one-third order-md-last img" style="background-image:url(/static/images/shahed.jpg);">
	          		<div class="overlay"></div>
	          	</div>
		          <div class="one-forth d-flex  align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
		          	<a href="https://www.youtube.com/watch?v=rmmhsZdtPsA&t=26s" class="icon-video popup-vimeo d-flex justify-content-center align-items-center">
	    						<span class="ion-ios-play play"></span>
	    					</a>
		          	<div class="text">
		          		<span class="subheading">Hello</span>
			            <h1 class="mb-4 mt-3">I'm <span>Shahed Talukder</span></h1>
			            <h2 class="mb-4">A Web Developer</h2>
			            <p><a href="#" class="btn-custom">Hire me</a></p>
		            </div>
		          </div>
	        	</div>
	        </div>
	      </div>

	      <div class="slider-item">
	      	<div class="overlay"></div>
	        <div class="container">
	          <div class="row d-flex no-gutters slider-text align-items-end justify-content-end" data-scrollax-parent="true">
	          	<div class="one-third order-md-last img" style="background-image:url(/static/images/shahed2.jpg);">
	          		<div class="overlay"></div>
	          	</div>
		          <div class="one-forth d-flex align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
		          	<a href="https://www.youtube.com/watch?v=rmmhsZdtPsA&t=26s" class="icon-video popup-vimeo d-flex justify-content-center align-items-center">
	    						<span class="ion-ios-play play"></span>
	    					</a>
		          	<div class="text">
			            <h1 class="mb-4 mt-3">Lead You To <span>Next Gen</span> from Old</h1>
			            <p><a href="#" class="btn-custom">Hire me</a></p>
		            </div>
		          </div>
	        	</div>
	        </div>
	      </div>
	    </div>
    </section>
{% comment %} about me section {% endcomment %}
    <section class="ftco-about ftco-counter img ftco-section" id="about-section">
    	<div class="container">
    		<div class="row d-flex">
    			<div class="col-md-6 col-lg-5 d-flex">
    				<div class="img-about img d-flex align-items-stretch">
    					<div class="overlay"></div>
	    				<div class="img d-flex align-self-stretch align-items-center" style="background-image:url(/static/images/about-1.jpg);">
	    				</div>
    				</div>
    			</div>
    			<div class="col-md-6 col-lg-7 pl-lg-5 py-5">
    				<div class="row justify-content-start pb-3">
		          <div class="col-md-12 heading-section ftco-animate">
		          	<span class="subheading">Welcome</span>
		            <h2 class="mb-4" style="font-size: 34px; text-transform: capitalize;">About Me</h2>
		            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
		          </div>
		        </div>
		        <div class="row">
		        	<div class="col-md-6">
		        		<div class="media block-6 services d-block ftco-animate">
		              <div class="icon"><span class="flaticon-analysis"></span></div>
		              <div class="media-body">
		                <h3 class="heading mb-3">Web Design</h3>
		                <p>A small river named Duden flows by their place and supplies.</p>
		              </div>
		            </div>
		        	</div>
		        	<div class="col-md-6">
		        		<div class="media block-6 services d-block ftco-animate">
		              <div class="icon"><span class="flaticon-analysis"></span></div>
		              <div class="media-body">
		                <h3 class="heading mb-3">Web Application</h3>
		                <p>A small river named Duden flows by their place and supplies.</p>
		              </div>
		            </div>
		        	</div>
		        </div>
	          <div class="counter-wrap ftco-animate d-flex mt-md-3">
              <div class="text p-4 pr-5 bg-primary">
              	<p class="mb-0">
	                <span class="number" data-number="200" stype="color:white">0</span>
	                <span>Finished Projects</span>
                </p>
              </div>
	          </div>
	        </div>
        </div>
    	</div>
    </section>
	{% comment %} Strategy section {% endcomment %}
		<div class="row justify-content-center py-5 mt-5">
          <div class="col-md-12 heading-section text-center ftco-animate">
          	<span class="subheading">What I Do</span>
            <h2 class="mb-4">Strategy, design and a bit of magic</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
          </div>
        </div>
		<div class="row">
					<div class="col-md-4 text-center d-flex ftco-animate">
						<div class="services-1">
							<span class="icon">
								<i class="flaticon-analysis"></i>
							</span>
							<div class="desc">
								<h3 class="mb-5"><a href="#">Explore</a></h3>
								<h4>Design Sprints</h4>
								<h4>Product Strategy</h4>
								<h4>UX Strategy</h4>
							</div>
						</div>
					</div>
					<div class="col-md-4 text-center d-flex ftco-animate">
						<div class="services-1">
							<span class="icon">
								<i class="flaticon-flasks"></i>
							</span>
							<div class="desc">
								<h3 class="mb-5"><a href="#">Create</a></h3>
								<h4>Information</h4>
								<h4>UX/UI Design</h4>
								<h4>Branding</h4>
							</div>
						</div>
					</div>
					<div class="col-md-4 text-center d-flex ftco-animate">
						<div class="services-1">
							<span class="icon">
								<i class="flaticon-ideas"></i>
							</span>
							<div class="desc">
								<h3 class="mb-5"><a href="#">Learn</a></h3>
								<h4>Prototyping</h4>
								<h4>User Testing</h4>
								<h4>UI Testing</h4>
							</div>
						</div>
					</div>
				</div>
			</div>


	{% endblock %}